/* Colores y tipografías web */
:root {
  --bg-color: #324734;
  --accent-color: #f5d951;
  --base-color: #bfd66d;
  --sec-accent-color: #6ef269;
  --spacing: 20px;
  --r: 18px;
  --shadow: 0 14px 30px rgba(0, 0, 0, 0.35);
}

/* Reset OR Normalise */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}


/* Body */
body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  background-color: var(--bg-color);
  color: var(--base-color);
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  color: var(--accent-color);
}